body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #183f69;
    color: #ffffff;
    padding: 2em 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Opacity (alpha value) */
}

.profile-pic-container {
    width: 15em; 
    height: 20em; /* Set the height to less than the image's height to "crop" the bottom */
    overflow: hidden; /* Ensures anything outside this container is not shown */
    border-radius: 50% / 30%; /* Creates oval shape */
    border: 4px solid #ffffff;
    margin: 0 auto; /* Center the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100%; /* Ensures the image covers the width of the container */
    height: 21em; 
    object-fit: cover; /* Ensures the image covers the container */
    object-position: top center; /* Aligns the image to the top center, effectively "cropping" the bottom */
}

h1, h2 {
    margin: 0.5em 0;
}

p {
    margin: 1em 0;
}

#about-me, #expertise, #tech-skills, #soft-skills, #contact {
    background-color: #ffffff;
    margin: 2em 5%;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.contact-icons a {
    color: #183f69;
    text-decoration: none;
    font-size: 1.2em;
}

.contact-icons i {
    margin-right: 0.5em;
}

.contact-icons a:hover {
    text-decoration: underline;
}

footer {
    background-color: #183f69; /* Matches the header color */
    color: #ffffff;
    padding: 1em 5%;
    font-size: 0.8em;
}

.footer-center {
    text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
    .profile-pic-container {
        width: 10em;
        height: 10em;
    }

    .profile-pic {
        width: 100%;
        height: 10em;
        object-position: top center; /* Ensures the image is centered horizontally */
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 1em;
    }

    #about-me, #expertise, #tech-skills, #soft-skills, #contact {
        margin: 2em 3%;
        padding: 1em;
    }

    footer {
        text-align: center;
    }

    
}
